<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dataSource" value="c:\void\Cinemas.xml"/>
  </appSettings>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" port="9000">
          <clientProviders>
            <formatter ref="binary"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
      <service>
        <wellknown type="BrokerCinemaServer.Server, BrokerCinemaServer"
                   mode="Singleton"
                   objectUri="BrokerServer.rem"/>
      </service>
    </application>
  </system.runtime.remoting>
</configuration>