<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Tester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="dataSource" value="c:\void\showtime.xml"/>
  </appSettings>
  <applicationSettings>
    <Tester.Properties.Settings>
      <setting name="Tester_BlockBusterCinema_CinemaService" serializeAs="String">
        <value>http://localhost:3354/WSCinema.asmx</value>
      </setting>
    </Tester.Properties.Settings>
  </applicationSettings>
</configuration>