<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http" port="9001">
          <serverProviders>
            <formatter ref="soap" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
      <service>
        <wellknown type="TriviaServer.Server, TriviaServer"
                   mode="Singleton"
                   objectUri="RemoteServer.soap"/>
      </service>
      <client>
        <wellknown type="Proxy.IRingServer, Proxy"
                   url="http://localhost:9002/RemoteServer.soap"/>
        <wellknown type="Proxy.IRingServer, Proxy"
                   url="http://localhost:9003/RemoteServer.soap"/>
        <wellknown type="Proxy.IRingServer, Proxy"
                   url="http://localhost:9004/RemoteServer.soap"/>
        <wellknown type="Proxy.IRingServer, Proxy"
                   url="http://localhost:9005/RemoteServer.soap"/>
      </client>
    </application>
  </system.runtime.remoting>
</configuration>