<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="RingServers"
      type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>

  <RingServers>
    <add key="Zone1" value="tcp://localhost:9001/RemoteServer.rem"/>
    <add key="Zone2" value="tcp://localhost:9002/RemoteServer.rem"/>
    <add key="Zone3" value="tcp://localhost:9003/RemoteServer.rem"/>
    <add key="Zone4" value="tcp://localhost:9004/RemoteServer.rem"/>
    <add key="Zone5" value="tcp://localhost:9005/RemoteServer.rem"/>
  </RingServers>

  <appSettings>
    <add key="serverId" value="Zone5"/>
    <add key="serverConfigFile" value="TriviaServer.exe.config"/>
  </appSettings>

  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" port="9005">
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
      <service>
        <wellknown type="TriviaServer.Server, TriviaServer"
                   mode="Singleton" 
                   objectUri="RemoteServer.rem"/>
      </service>
    </application>
  </system.runtime.remoting>
</configuration>