<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="Zone1" value="http://localhost:9001/RemoteServer.soap"/>-->
    <add key="Zone2" value="http://localhost:9002/RemoteServer.soap"/>
    <add key="Zone3" value="http://localhost:9003/RemoteServer.soap"/>
    <add key="Zone4" value="http://localhost:9004/RemoteServer.soap"/>
    <add key="Zone5" value="http://localhost:9005/RemoteServer.soap"/>
  </appSettings>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http" port="9001">
          <serverProviders>
            <formatter ref="soap" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
      <service>
        <wellknown type="TriviaServer.Server, TriviaServer"
                   mode="Singleton"
                   objectUri="RemoteServer.soap"/>
      </service>      
    </application>
  </system.runtime.remoting>
</configuration>