<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dataSource" value="c:\void\reservations.xml"/>
    <add key="serverConfigFile" value="CinemaModelServer.exe.config"/>
  </appSettings>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" port="9001">
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
      <service>
        <wellknown type="CinemaModelServer.Server, CinemaModelServer"
                   mode="Singleton"
                   objectUri="CinemaServer.rem"/>
      </service>
    </application>
  </system.runtime.remoting>
</configuration>